<div class="row">
  <%= render'menu' %>

  <div class="col-md-8">
    <table>
      <tr>
        <td>1992年
        <td>生誕
      </tr>
      <tr>
        <td>〜
        <td>未定
    </tr>
  </table>
  </div>
</div>
