<div class="row">
  <%= render'menu' %>
  <div class="col-md-4">
    <%= image_tag 'profile_pic.jpg',class:'img-responsive' %>
  </div>

  <div class="col-md-4">
    <p>
      Name: Manami
    </p>
  </div>

</div>
